    {{link-to 'reminders.disp' reminder class="list-group-item"}}
      <h4 class="list-group-item-heading">{{reminder.title}}<span style="float:right;color:blue">{{reminder.date}}</span></h4>
      <p class="list-group-item-text">{{reminder.purpose}}</p>
    {{/link-to}}
